Body {

}

.jumbotron a{
  text-decoration: none;
  color: #fff;
}

a {
  text-decoration: none;
  color: red;
}

.jumbotron{
  background-image: url("../img/woman_train.jpeg");
  background-repeat:no-repeat;
  -webkit-background-size:cover;
  -moz-background-size:cover;
  -o-background-size:cover;
  background-size:cover;
  background-position:center;
  opacity: 0.9;
  height: 800px;
}

.jumbotron h2 {
  margin-top: 55px;
  
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #298EAC;
  width: 500px;
  height: 100px;
  text-align: center;
  color: #fff;
  opacity: 0.9;
}

  /*.col-md-6{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #298EAC;
    height: 100px;
    text-align: center;
    color: #fff;
    opacity: 0.9;
  }*/
.col-md-6 p {

}

.col-md-12 {
  text-align: center;
  font-size: 80px;
}


.panel-heading {
  /*font-family: 'Droid Serif', serif;*/
  font-weight: bold;
}

th {
  /*font-family: 'Droid Serif', serif;*/
  font-weight: bold;
}
