Body {

}
.jumbotron h1 {
  text-align: center;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;

}
.jumbotron{
  background-image: url("../img/wallup-28447.jpg");
  background-repeat:no-repeat;
  -webkit-background-size:cover;
  -moz-background-size:cover;
  -o-background-size:cover;
  background-size:cover;
  background-position:center;
  height:750px;
}

.col-md-12 {
  text-align: center;
  margin: 20px;
  height: 200px;
  font-size: 80px;
  font-family: 'Archivo Black', sans-serif;
  color: #727170;
  background: rgba(212,228,239,1);
  background: -moz-linear-gradient(top, rgba(212,228,239,1) 0%, rgba(134,174,204,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(212,228,239,1)), color-stop(100%, rgba(134,174,204,1)));
  background: -webkit-linear-gradient(top, rgba(212,228,239,1) 0%, rgba(134,174,204,1) 100%);
  background: -o-linear-gradient(top, rgba(212,228,239,1) 0%, rgba(134,174,204,1) 100%);
  background: -ms-linear-gradient(top, rgba(212,228,239,1) 0%, rgba(134,174,204,1) 100%);
  background: linear-gradient(to bottom, rgba(212,228,239,1) 0%, rgba(134,174,204,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d4e4ef', endColorstr='#86aecc', GradientType=0 );
}
.panel-heading {
  font-family: 'Droid Serif', serif;
  font-weight: bold;
}

th {
  font-family: 'Droid Serif', serif;
  font-weight: bold;
}
